---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Acerca de Café & Orígenes";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    "Café & Orígenes" es un blog dedicado a explorar el fascinante mundo del
    café, desde su cultivo hasta la taza. Aquí encontrarás artículos sobre
    métodos de preparación, variedades de granos, técnicas de tueste y las
    mejores formas de disfrutar cada sorbo. Además, nos sumergimos en la
    historia y cultura detrás del café, con reportajes sobre productores
    locales, catas y nuevas tendencias en el mundo cafetero. Ya seas un barista
    experimentado o un aficionado en busca del espresso perfecto, este espacio
    es para ti.
  </p>
</BaseLayout>
